@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Merriweather%3Aital%2Cwght%400%2C400%3B0%2C700%3B1%2C400%3B1%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B1%2C400%3B1%2C500&display=swap");

.plasmic_tokens {
  --token-OsUfsqEgOpFzHy: #ffffff;
  --plasmic-token-white: var(--token-OsUfsqEgOpFzHy);
  --token-3pBhEXiaUvJyPv: #e5aa43;
  --plasmic-token-gold: var(--token-3pBhEXiaUvJyPv);
  --token-h5wa3taE-VRUix: 1px;
  --plasmic-token-padd-menu: var(--token-h5wa3taE-VRUix);
}

.plasmic_default_styles {
  --mixin-vXmt00qfrnL7F_font-family: "Inter";
  --mixin-vXmt00qfrnL7F_font-size: 16px;
  --mixin-vXmt00qfrnL7F_font-weight: 400;
  --mixin-vXmt00qfrnL7F_font-style: normal;
  --mixin-vXmt00qfrnL7F_color: #535353;
  --mixin-vXmt00qfrnL7F_text-align: left;
  --mixin-vXmt00qfrnL7F_text-transform: none;
  --mixin-vXmt00qfrnL7F_line-height: 1.5;
  --mixin-vXmt00qfrnL7F_letter-spacing: normal;
  --mixin-vXmt00qfrnL7F_white-space: pre-wrap;
  --mixin-vXmt00qfrnL7F_user-select: text;
  --mixin-vXmt00qfrnL7F_text-decoration-line: none;
  --mixin-vXmt00qfrnL7F_text-overflow: clip;
  --mixin-8K2-8ik9wlXFd_color: var(--token-OsUfsqEgOpFzHy);
  --mixin-8K2-8ik9wlXFd_font-weight: 400;
  --mixin-8K2-8ik9wlXFd_font-size: 52px;
  --mixin-8K2-8ik9wlXFd_line-height: 1;
  --mixin-8K2-8ik9wlXFd_letter-spacing: 0px;
  --mixin-8K2-8ik9wlXFd_font-family: "Merriweather";
  --mixin-8s2OKqpFqknrv_color: #000000;
  --mixin-8s2OKqpFqknrv_font-weight: 500;
  --mixin-8s2OKqpFqknrv_font-size: 36px;
  --mixin-8s2OKqpFqknrv_line-height: 1.1;
  --mixin-8s2OKqpFqknrv_letter-spacing: 0px;
  --mixin-8s2OKqpFqknrv_font-family: "Merriweather";
  --mixin-iAsIJdMZncpDK_color: var(--token-3pBhEXiaUvJyPv);
  --mixin-OLlw6i3BUDLnA_color: #000000;
  --mixin-OLlw6i3BUDLnA_font-weight: 500;
  --mixin-OLlw6i3BUDLnA_font-size: 23px;
  --mixin-OLlw6i3BUDLnA_line-height: 1.2;
  --mixin-OLlw6i3BUDLnA_letter-spacing: 0px;
  --mixin-2G8LgulsaqUXE_color: #000000;
  --mixin-2G8LgulsaqUXE_font-weight: 600;
  --mixin-2G8LgulsaqUXE_font-size: 24px;
  --mixin-2G8LgulsaqUXE_line-height: 1.3;
  --mixin-2G8LgulsaqUXE_letter-spacing: -0.5px;
  --mixin-l0Ago3uhN6GQL_font-family: "Inconsolata";
  --mixin-l0Ago3uhN6GQL_padding-top: 1px;
  --mixin-l0Ago3uhN6GQL_padding-right: 4px;
  --mixin-l0Ago3uhN6GQL_padding-bottom: 1px;
  --mixin-l0Ago3uhN6GQL_padding-left: 4px;
  --mixin-l0Ago3uhN6GQL_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-l0Ago3uhN6GQL_border-top-color: #dddddd;
  --mixin-l0Ago3uhN6GQL_border-top-width: 1px;
  --mixin-l0Ago3uhN6GQL_border-top-style: solid;
  --mixin-l0Ago3uhN6GQL_border-right-color: #dddddd;
  --mixin-l0Ago3uhN6GQL_border-right-width: 1px;
  --mixin-l0Ago3uhN6GQL_border-right-style: solid;
  --mixin-l0Ago3uhN6GQL_border-bottom-color: #dddddd;
  --mixin-l0Ago3uhN6GQL_border-bottom-width: 1px;
  --mixin-l0Ago3uhN6GQL_border-bottom-style: solid;
  --mixin-l0Ago3uhN6GQL_border-left-color: #dddddd;
  --mixin-l0Ago3uhN6GQL_border-left-width: 1px;
  --mixin-l0Ago3uhN6GQL_border-left-style: solid;
  --mixin-l0Ago3uhN6GQL_border-top-left-radius: 3px;
  --mixin-l0Ago3uhN6GQL_border-top-right-radius: 3px;
  --mixin-l0Ago3uhN6GQL_border-bottom-right-radius: 3px;
  --mixin-l0Ago3uhN6GQL_border-bottom-left-radius: 3px;
  --mixin-Qofu2LgN3lQCR_color: #888888;
  --mixin-Qofu2LgN3lQCR_padding-left: 10px;
  --mixin-Qofu2LgN3lQCR_border-left-width: 3px;
  --mixin-Qofu2LgN3lQCR_border-left-style: solid;
  --mixin-Qofu2LgN3lQCR_border-left-color: #dddddd;
  --mixin-XLWu_oix5EAUz_padding-top: 3px;
  --mixin-XLWu_oix5EAUz_padding-right: 6px;
  --mixin-XLWu_oix5EAUz_padding-bottom: 3px;
  --mixin-XLWu_oix5EAUz_padding-left: 6px;
  --mixin-XLWu_oix5EAUz_font-family: "Inconsolata";
  --mixin-XLWu_oix5EAUz_border-top-left-radius: 3px;
  --mixin-XLWu_oix5EAUz_border-top-right-radius: 3px;
  --mixin-XLWu_oix5EAUz_border-bottom-right-radius: 3px;
  --mixin-XLWu_oix5EAUz_border-bottom-left-radius: 3px;
  --mixin-XLWu_oix5EAUz_border-top-color: #dddddd;
  --mixin-XLWu_oix5EAUz_border-top-width: 1px;
  --mixin-XLWu_oix5EAUz_border-top-style: solid;
  --mixin-XLWu_oix5EAUz_border-right-color: #dddddd;
  --mixin-XLWu_oix5EAUz_border-right-width: 1px;
  --mixin-XLWu_oix5EAUz_border-right-style: solid;
  --mixin-XLWu_oix5EAUz_border-bottom-color: #dddddd;
  --mixin-XLWu_oix5EAUz_border-bottom-width: 1px;
  --mixin-XLWu_oix5EAUz_border-bottom-style: solid;
  --mixin-XLWu_oix5EAUz_border-left-color: #dddddd;
  --mixin-XLWu_oix5EAUz_border-left-width: 1px;
  --mixin-XLWu_oix5EAUz_border-left-style: solid;
  --mixin-XLWu_oix5EAUz_background: linear-gradient(#f8f8f8, #f8f8f8);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-vXmt00qfrnL7F_font-family);
  font-size: var(--mixin-vXmt00qfrnL7F_font-size);
  font-weight: var(--mixin-vXmt00qfrnL7F_font-weight);
  font-style: var(--mixin-vXmt00qfrnL7F_font-style);
  color: var(--mixin-vXmt00qfrnL7F_color);
  text-align: var(--mixin-vXmt00qfrnL7F_text-align);
  text-transform: var(--mixin-vXmt00qfrnL7F_text-transform);
  line-height: var(--mixin-vXmt00qfrnL7F_line-height);
  letter-spacing: var(--mixin-vXmt00qfrnL7F_letter-spacing);
  white-space: var(--mixin-vXmt00qfrnL7F_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-8K2-8ik9wlXFd_color);
  font-weight: var(--mixin-8K2-8ik9wlXFd_font-weight);
  font-size: var(--mixin-8K2-8ik9wlXFd_font-size);
  line-height: var(--mixin-8K2-8ik9wlXFd_line-height);
  letter-spacing: var(--mixin-8K2-8ik9wlXFd_letter-spacing);
  font-family: var(--mixin-8K2-8ik9wlXFd_font-family);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-8s2OKqpFqknrv_color);
  font-weight: var(--mixin-8s2OKqpFqknrv_font-weight);
  font-size: var(--mixin-8s2OKqpFqknrv_font-size);
  line-height: var(--mixin-8s2OKqpFqknrv_line-height);
  letter-spacing: var(--mixin-8s2OKqpFqknrv_letter-spacing);
  font-family: var(--mixin-8s2OKqpFqknrv_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-iAsIJdMZncpDK_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-OLlw6i3BUDLnA_color);
  font-weight: var(--mixin-OLlw6i3BUDLnA_font-weight);
  font-size: var(--mixin-OLlw6i3BUDLnA_font-size);
  line-height: var(--mixin-OLlw6i3BUDLnA_line-height);
  letter-spacing: var(--mixin-OLlw6i3BUDLnA_letter-spacing);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-2G8LgulsaqUXE_color);
  font-weight: var(--mixin-2G8LgulsaqUXE_font-weight);
  font-size: var(--mixin-2G8LgulsaqUXE_font-size);
  line-height: var(--mixin-2G8LgulsaqUXE_line-height);
  letter-spacing: var(--mixin-2G8LgulsaqUXE_letter-spacing);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  font-family: var(--mixin-l0Ago3uhN6GQL_font-family);
  background: var(--mixin-l0Ago3uhN6GQL_background);
  border-radius: var(--mixin-l0Ago3uhN6GQL_border-top-left-radius)
    var(--mixin-l0Ago3uhN6GQL_border-top-right-radius)
    var(--mixin-l0Ago3uhN6GQL_border-bottom-right-radius)
    var(--mixin-l0Ago3uhN6GQL_border-bottom-left-radius);
  padding: var(--mixin-l0Ago3uhN6GQL_padding-top)
    var(--mixin-l0Ago3uhN6GQL_padding-right)
    var(--mixin-l0Ago3uhN6GQL_padding-bottom)
    var(--mixin-l0Ago3uhN6GQL_padding-left);
  border-top: var(--mixin-l0Ago3uhN6GQL_border-top-width)
    var(--mixin-l0Ago3uhN6GQL_border-top-style)
    var(--mixin-l0Ago3uhN6GQL_border-top-color);
  border-right: var(--mixin-l0Ago3uhN6GQL_border-right-width)
    var(--mixin-l0Ago3uhN6GQL_border-right-style)
    var(--mixin-l0Ago3uhN6GQL_border-right-color);
  border-bottom: var(--mixin-l0Ago3uhN6GQL_border-bottom-width)
    var(--mixin-l0Ago3uhN6GQL_border-bottom-style)
    var(--mixin-l0Ago3uhN6GQL_border-bottom-color);
  border-left: var(--mixin-l0Ago3uhN6GQL_border-left-width)
    var(--mixin-l0Ago3uhN6GQL_border-left-style)
    var(--mixin-l0Ago3uhN6GQL_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-Qofu2LgN3lQCR_color);
  padding-left: var(--mixin-Qofu2LgN3lQCR_padding-left);
  border-left: var(--mixin-Qofu2LgN3lQCR_border-left-width)
    var(--mixin-Qofu2LgN3lQCR_border-left-style)
    var(--mixin-Qofu2LgN3lQCR_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  font-family: var(--mixin-XLWu_oix5EAUz_font-family);
  background: var(--mixin-XLWu_oix5EAUz_background);
  border-radius: var(--mixin-XLWu_oix5EAUz_border-top-left-radius)
    var(--mixin-XLWu_oix5EAUz_border-top-right-radius)
    var(--mixin-XLWu_oix5EAUz_border-bottom-right-radius)
    var(--mixin-XLWu_oix5EAUz_border-bottom-left-radius);
  padding: var(--mixin-XLWu_oix5EAUz_padding-top)
    var(--mixin-XLWu_oix5EAUz_padding-right)
    var(--mixin-XLWu_oix5EAUz_padding-bottom)
    var(--mixin-XLWu_oix5EAUz_padding-left);
  border-top: var(--mixin-XLWu_oix5EAUz_border-top-width)
    var(--mixin-XLWu_oix5EAUz_border-top-style)
    var(--mixin-XLWu_oix5EAUz_border-top-color);
  border-right: var(--mixin-XLWu_oix5EAUz_border-right-width)
    var(--mixin-XLWu_oix5EAUz_border-right-style)
    var(--mixin-XLWu_oix5EAUz_border-right-color);
  border-bottom: var(--mixin-XLWu_oix5EAUz_border-bottom-width)
    var(--mixin-XLWu_oix5EAUz_border-bottom-style)
    var(--mixin-XLWu_oix5EAUz_border-bottom-color);
  border-left: var(--mixin-XLWu_oix5EAUz_border-left-width)
    var(--mixin-XLWu_oix5EAUz_border-left-style)
    var(--mixin-XLWu_oix5EAUz_border-left-color);
}
